.menuContainer {
  position: absolute;
  bottom: 100%;
  background-color: var(--options-bg);

  padding-bottom: 10px;

  display: none;
}

.menu {
  cursor: pointer;
  background-color: var(--options-transparent-bg);

  padding: 0.5rem;
  border-radius: 0.5rem;

  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.logoutButton {
  display: flex;
  align-items: center;
  gap: 8px;

  width: 100%;

  border: none;
  background: none;

  cursor: pointer;
  transition: background-color 0.2s;

  color: var(--options-color);
}
