.primaryButton {
  width: 56px;
  height: 56px;

  border: none;
  border-radius: 50%;

  background: var(--accent-light);
  color: #fff;

  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
