.full {
  height: 100%;
  width: 100%;

  aspect-ratio: 1 / 1;

  object-fit: cover;
  border-radius: 50%;
}

.picture {
  aspect-ratio: 1 / 1;
  padding: 0.5rem;
  background-color: var(--picture-default-background);

  border-radius: 50%;
  overflow: hidden;

  display: flex;
  justify-content: center;
  align-items: center;
}
