.container {
  background-color: var(--main-bg);
  color: var(--font-color);
  border-radius: var(--main-radius);

  width: 90vw;
  height: 90vh;

  display: flex;
  justify-content: center;
  align-items: center;

  position: relative;
  overflow: hidden;
}

*:focus-visible {
  outline: 2px solid var(--accent-light);
}

@media screen and (max-width: 1000px) {
  .container {
    width: 100vw;
    height: 100vh;

    border-radius: 0;
  }
}
