:root {
  --accent-color: #1bb955;
  --accent-light: #16e261;
  --accent-dark: #1b9c4a;
  --accent-menu: var(--accent-color);

  --main-radius: 10px;
  --radius-big: 10px;
  --radius-small: 3px;

  /* --- */

  --loading-bg: #0a1014;
  --page-bg: #262524;

  --font-color: #fff;

  --landing-bg: #26353e;

  --main-bg: #26353e;
  --left-bg: #111b21;
  --options-bg: var(--main-bg);

  --options-transparent-bg: rgba(255, 255, 255, 0.057);
  --options-color: #fff;

  /* --- */

  --left-width: 450px;
  --options-width: 65px;
  --options-padding: 0.75rem;

  /* --- */
  --picture-default-background: rgb(158, 158, 158);

  --conversation-height: 75px;
  --conversation-border: rgba(142, 142, 142, 0.198);
  --conversation-hover: #202c33;
}

:root.light {
  --page-bg: #dbd8d4;
  --left-bg: #ffffff;
  --main-bg: #f0f2f5;

  --font-color: #000;

  --options-transparent-bg: rgba(0, 0, 0, 0.106);

  --picture-default-background: rgb(211, 211, 211);

  --conversation-border: rgba(142, 142, 142, 0.497);
  --conversation-hover: red;
}
